.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  display: grid;
  max-width: 1150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 2em;
}

.box1 {
  grid-column: 1/3;
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0;
}

.box2 {
  background-color: hsl(217, 19%, 35%);
}

.box3 {
  background-color: white;
}

.box4 {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: hsl(219, 29%, 14%);
}

.box5 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: white;
}

/* all the common styles between the boxes*/
.box {
  border-radius: 10px;
  padding: 30px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.box .person img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.box .person {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.div2 {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}
/* box1 style */
.box1 .person img {
  border: 1px solid white;
}

.box1 .person .info .name {
  color: hsl(0, 0%, 81%);
}
.box1 .person .info .status {
  color: hsl(0, 0%, 81%);
  opacity: 0.5;
}

.box1 .div3 {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
}

/* box2 style */

.box2 .person .info .name {
  color: hsl(0, 0%, 81%);
}
.box2 .person .info .status {
  color: hsl(0, 0%, 81%);
  opacity: 0.5;
}

.box2 .div3 {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
}

/* box3 style */

.box3 .person .info .name {
  color: hsl(217, 19%, 35%);
}
.box3 .person .info .status {
  color: hsl(217, 19%, 35%);
  opacity: 0.5;
}

.box3 .div2 {
  color: hsl(217, 19%, 35%);
  margin-bottom: 10px;
  font-size: 20px;
}

.box3 .div3 {
  color: hsl(217, 19%, 35%);
  opacity: 0.7;
}

/* box4 style */
.box4 .person img {
  border: 1px solid hsl(263, 55%, 52%);
}

.box4 .person .info .name {
  color: hsl(0, 0%, 81%);
}
.box4 .person .info .status {
  color: hsl(0, 0%, 81%);
  opacity: 0.5;
}

.box4 .div3 {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
}
/* box5 style */

.box5 .person .info .name {
  color: hsl(217, 19%, 35%);
}
.box5 .person .info .status {
  color: hsl(217, 19%, 35%);
  opacity: 0.5;
}

.box5 .div2 {
  color: hsl(217, 19%, 35%);
  margin-bottom: 10px;
  font-size: 20px;
}

.box5 .div3 {
  color: hsl(217, 19%, 35%);
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }
  .attribution {
    display: none;
  }
  .box1 {
    margin-top: 15%;
  }
  .box5 {
    margin-bottom: 15%;
  }
}
